{
  "openapi": "3.1.0",
  "info": {
    "title": "Logos Bible API",
    "description": "API for looking up Bible verses with Greek/Hebrew linguistic data, lexicon definitions, and commentary from multiple sources.",
    "version": "1.6.0"
  },
  "servers": [{"url": "https://logos.d-german.net"}],
  "paths": {
    "/api/verses/lookup": {
      "get": {
        "operationId": "lookupVerses",
        "summary": "Look up Bible verses with linguistic data",
        "parameters": [{
          "name": "verseReferences",
          "in": "query",
          "required": true,
          "schema": {"type": "array", "items": {"type": "string"}, "example": ["Matt.1.1", "John.3.16"]}
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/VerseLookupResult"}
              }
            }
          }
        }
      }
    },
    "/api/lexicon/{strongsNumber}": {
      "get": {
        "operationId": "getLexiconEntry",
        "summary": "Look up a lexicon entry",
        "parameters": [{
          "name": "strongsNumber",
          "in": "path",
          "required": true,
          "schema": {"type": "string", "example": "G25"}
        }],
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LexiconLookupResponse"}}}},
          "400": {"description": "Invalid format", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "404": {"description": "Not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/commentary/all": {
      "get": {
        "operationId": "getAllCommentaries",
        "summary": "Get commentary from ALL sources for multiple verses",
        "description": "Retrieves commentary from all available commentary sources (Tyndale, John Gill, Matthew Henry, Adam Clarke, Jamieson-Fausset-Brown, Keil-Delitzsch) for one or more verses in a single call. Only commentaries with actual content are returned.",
        "parameters": [{
          "name": "verseReferences",
          "in": "query",
          "required": true,
          "description": "One or more verse references",
          "schema": {"type": "array", "items": {"type": "string"}, "example": ["John.1.3", "Rom.8.28"]}
        }],
        "responses": {
          "200": {"description": "Commentary from all sources", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AllCommentariesLookupResponse"}}}},
          "400": {"description": "Invalid reference format", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/commentary/{commentaryId}/{reference}": {
      "get": {
        "operationId": "getCommentary",
        "summary": "Get commentary for a verse from a specific source",
        "description": "Retrieves commentary for a specific verse from the specified commentary source.",
        "parameters": [
          {
            "name": "commentaryId",
            "in": "path",
            "required": true,
            "description": "Commentary ID: tyndale, john-gill, matthew-henry, adam-clarke, jamieson-fausset-brown, keil-delitzsch",
            "schema": {"type": "string", "example": "tyndale"}
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "description": "Verse reference (e.g., John.1.3, Jn 1:3, Gen.1.1)",
            "schema": {"type": "string", "example": "John.1.3"}
          }
        ],
        "responses": {
          "200": {"description": "Commentary found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CommentaryLookupResponse"}}}},
          "400": {"description": "Invalid reference format", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "404": {"description": "Commentary not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/health": {"get": {"operationId": "healthCheck", "responses": {"200": {"description": "Healthy", "content": {"text/plain": {"schema": {"type": "string"}}}}}}}
  },
  "components": {
    "schemas": {
      "VerseLookupResult": {
        "type": "object",
        "properties": {
          "verses": {"type": "array", "items": {"$ref": "#/components/schemas/VerseResponse"}},
          "notFound": {"type": "array", "items": {"type": "string"}}
        },
        "required": ["verses", "notFound"]
      },
      "VerseResponse": {
        "type": "object",
        "properties": {
          "reference": {"type": "string"},
          "tokens": {"type": "array", "items": {"$ref": "#/components/schemas/TokenResponse"}}
        },
        "required": ["reference", "tokens"]
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "gloss": {"type": "string", "description": "English translation/meaning"},
          "greek": {"type": "string", "description": "Original Greek text"},
          "translit": {"type": "string", "description": "Transliteration"},
          "strongs": {"type": "string", "description": "Strong's number (e.g., G976)"},
          "rmac": {"type": "string", "description": "Robinson's Morphological Analysis Code"},
          "rmacDesc": {"type": "string", "description": "Human-readable morphology description"},
          "morph": {"$ref": "#/components/schemas/MorphologyInfo"},
          "strongDef": {"type": "string", "description": "Strong's definition of the word"}
        },
        "required": ["gloss", "greek", "translit", "strongs", "rmac"]
      },
      "MorphologyInfo": {
        "type": "object",
        "description": "Parsed morphological components from RMAC code. Only non-null fields are included.",
        "properties": {
          "pos": {"type": "string", "description": "Part of speech"},
          "tense": {"type": "string", "description": "Verb tense"},
          "voice": {"type": "string", "description": "Verb voice"},
          "verbForm": {"type": "string", "description": "Verb form: Finite, Participle, or Infinitive"},
          "mood": {"type": "string", "description": "Finite verb mood only"},
          "case": {"type": "string", "description": "Grammatical case"},
          "number": {"type": "string", "description": "Number: Singular, Plural"},
          "gender": {"type": "string", "description": "Gender: Masculine, Feminine, Neuter"},
          "person": {"type": "string", "description": "Person: First, Second, Third"},
          "flags": {"type": "array", "items": {"type": "string"}, "description": "Additional flags"}
        }
      },
      "LexiconLookupResponse": {
        "type": "object",
        "properties": {
          "strongsNumber": {"type": "string"},
          "definition": {"type": "string"}
        },
        "required": ["strongsNumber", "definition"]
      },
      "CommentaryLookupResponse": {
        "type": "object",
        "properties": {
          "reference": {"type": "string", "description": "The verse reference"},
          "commentaryId": {"type": "string", "description": "Commentary source ID"},
          "commentaryName": {"type": "string", "description": "Commentary source name"},
          "verses": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/VerseCommentary"}
          },
          "notFound": {"type": "array", "items": {"type": "string"}}
        },
        "required": ["reference", "commentaryId", "commentaryName", "verses", "notFound"]
      },
      "AllCommentariesLookupResponse": {
        "type": "object",
        "description": "Commentary from all available sources for multiple verses. Only commentaries with content are included.",
        "properties": {
          "references": {"type": "array", "items": {"type": "string"}, "description": "The requested verse references"},
          "commentaries": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/CommentaryResult"},
            "description": "Commentary from each source that has content"
          },
          "notFound": {"type": "array", "items": {"type": "string"}, "description": "References with no commentary in any source"}
        },
        "required": ["references", "commentaries", "notFound"]
      },
      "CommentaryResult": {
        "type": "object",
        "description": "Commentary results from a single source",
        "properties": {
          "commentaryId": {"type": "string"},
          "commentaryName": {"type": "string"},
          "entries": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/VerseCommentaryEntry"}
          }
        },
        "required": ["commentaryId", "commentaryName", "entries"]
      },
      "VerseCommentaryEntry": {
        "type": "object",
        "properties": {
          "reference": {"type": "string"},
          "verseNumber": {"type": "integer"},
          "content": {"type": "string", "description": "Commentary text"}
        },
        "required": ["reference", "verseNumber", "content"]
      },
      "VerseCommentary": {
        "type": "object",
        "properties": {
          "verseNumber": {"type": "integer"},
          "content": {"type": "string", "description": "Commentary text"}
        },
        "required": ["verseNumber", "content"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {"type": "string"}
        },
        "required": ["error"]
      }
    }
  }
}
